<div class ="fields">
<%= f.label :name %>
	<%= f.text_field :name, :class => "name" %>
<%= f.label :email %>
	<%= f.text_field :email, :class => "email" %>
<%= f.label :phone %>
	<%= f.text_field :phone, :class => "phone" %> <%= link_to_function "remove", "remove_fields(this)", :class =>"remove" %>


</div>