<%= form_for @assignee do |f| %>
	<%= f.label :assignee  %>
	<%= f.text_field :assignee , :size => 40 %><br/>
	<%= f.label :description %>
	<%= f.text_area :description,  :cols =>40, :rows => 3 %> <br/>
	<div class = "Tasks">
		<h2>Tasks</h2>
		<%= f.fields_for :tasks do |builder| %>
			<%= render 'task_fields', :f => builder %>
		<% end %>
		<%= link_to_add_fields "Add Task", f, :tasks %>
	</div>
	<%= f.submit %>
<% end %>