<!DOCTYPE html>
<html>
<head>
  <title>Assignees</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Assignee Search: <%= @Title %> </h1>
<% flash.each do |name, message| %>
	<div id="flash_<%= name %>">
		<%= message %>
	</div>
<% end %>

<%= yield %>

</body>
</html>
